<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ServerTemp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11344CCA1C0D20E20049F287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11344CDE1C0D20E20049F287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11344CE91C0D20E20049F287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
